body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #c0b8b0;
}

.signin-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signin-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}

.image-container {
    width: 50%;
    padding-right: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
}

.form-container {
    width: 50%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    margin-top: -0.1cm;
}

form table {
    width: 95%;
    max-width: 510px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

form table td {
    padding: 15px;
}

form table th {
    padding: 10px;
    text-align: center;
    font-size: 24px;
    color: #333;
    background-color: #f1f1f1;
}

form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form input[type="submit"] {
    padding: 10px 20px;
    background-color: #eae7e5;
    color: black;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #a59c94;
}

#error-message {
    color: red;
    margin-top: 10px;
}

.hidden {
    display: none;
}
